@font-face {
  font-family: "proximanova";
  src: url("assets/fonts/proximanova-bold-webfont-webfont.woff") format("woff")
}

p {
  font-size: 14px;
}

h1 {
  font-size: 24px;
  letter-spacing: 1px;
}

h2 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

a {
  color: $color-black;

  &:visited {
    color: $color-black;
  }
}