// Variables

$color-white            : #ffffff;
$color-black            : #000000;
$color-gold             : #ce9f56;
$color-charcoal         : #333333;
$color-dark-green       : #1c6b27;
$color-purple           : #240858;
$color-grey             : #cccccc;
$breakpoint-tablet      : 768px;
$breakpoint-xl          : 1440px;
$font-weight-bold       : 700;
$primary-button-bg      : $color-purple;
$border-color           : $color-grey;
$background-grey        : $color-grey;
