.product {
  margin-top: 20px;

  .product-quantity {
    input {
      padding: 0;
      width: 30px;
    }
  }

  .product-details {
    padding: 0 40px 40px 40px;

    .product-title {
      margin: 0;
    }

    .from-price {
      font-size: 24px;
      font-weight: $font-weight-bold;
    }

    .est-delivery {
      color: $color-dark-green;

      &:before {
        top: 0;
        display: inline-block;
        content: ' ';
        background-image: url('/assets/images/check-circle-green.svg');
        background-size: 12px 12px;
        height: 12px;
        width: 12px;
      }
    }

    .options {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

      .dropdown-title {
        span {
          display: block;
        }

        .label {
          margin-bottom: 10px;
          font-weight: $font-weight-bold;
        }
      }
    }

    .cta {
      display: flex;
      margin: 30px 0;

    }

    .product-quantity {
      display: flex;
    }
  }

  .additional-content {
    border: 1px dotted $border-color;
    padding: 20px;
  }

  .additional-item {
    padding: 5px 0;

      &:before {
        top: 0;
        display: inline-block;
        content: ' ';
        background-image: url('/assets/images/check-circle.svg');
        background-size: 12px 12px;
        height: 12px;
        width: 12px;
        margin-right: 5px;
    }
  }

  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: 1px solid $border-color;
    color: $color-black;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      right: 10px;
      top: 20px;
      display: inline-block;
      content: ' ';
      background-image: url('/assets/images/angle-down-grey.svg');
      background-size: 12px 12px;
      height: 12px;
      width: 12px;
      margin-right: 5px;
    }
  }

  .prod-container  {
    font-size: 16px;
    border: 1px solid $border-color;
    color: $color-black;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      right: 10px;
      top: 20px;
      display: inline-block;
      content: ' ';
      background-image: url('/assets/images/angle-down-grey.svg');
      background-size: 12px 12px;
      height: 12px;
      width: 12px;
      margin-right: 5px;
    }
  }

  .dropdown {
    width: 100%;
    margin: 20px 0 10px 0;
    position: relative;
    display: inline-block;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid $border-color;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

    a {
      color: $color-black;;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  }
}

.angle-up {
  margin-left: 5px;

  &:before {
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/angle-up-grey.svg');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}

.angle-down {
  margin-left: 5px;

  &:before {
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/angle-down-grey.svg');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}
.box {
  border: 1px solid $border-color;
  height: 48px;
  margin-left: 5px;

  &:after {
    display: block;
    content: ' ';
    background: url('/assets/images/heart.svg') no-repeat center;
    background-size: 24px 24px;
    height: 25px;
    width: 25px;
    padding: 10px;
  }
}

.selected-options {
  margin: 40px 0;
}

.favourites {
  height: 50px;
}

.total-price {
  display: none;
}

.actions {
  border-top: 1px solid $border-color;
}

.options-container {
  background: $color-white;
  display: flex;

  p {
    margin: 0;
  }
}

.dropdown-content {
  z-index: 1;
}
.custom-option-container {
  display: flex;
}


.image,
.swatch {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.prod {
  display: block;
}
// Tablet
// ------------------------------------------------

@media (min-width: $breakpoint-tablet) {
  .product {
    display: flex;
    margin-top: 50px;

    .product-image {
      width: 50%;
    }

    .product-details {
      width: 50%;
      padding: 0 40px 40px 40px;
    }
  }
}