.product {
  margin-top: 20px;

  .product-quantity {
    input {
      padding: 0;
      width: 30px;
    }
  }

  .product-details {
    padding: 0 40px 40px 40px;

    .product-title {
      margin: 0;
    }

    .from-price {
      font-size: 24px;
      font-weight: $font-weight-bold;
    }

    .est-delivery {
      color: $color-dark-green;

      &:before {
        display: inline-block;
        content: ' ';
        background-image: url('/assets/images/check-circle-green.svg');
        background-size: 12px 12px;
        height: 12px;
        width: 12px;
        margin-right: 5px;
      }
    }

    .options {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

      .dropdown-title {
        span {
          display: block;
        }

        .label {
          margin-bottom: 10px;
          font-weight: $font-weight-bold;
        }
      }
    }

    .cta {
      display: flex;
      margin: 30px 0;
    }

    .product-quantity {
      display: flex;
    }
  }

  .additional-content {
    border: 1px dotted $border-color;
    padding: 20px;
  }

  .additional-item {
    padding: 5px 0;

      &:before {
        top: 0;
        display: inline-block;
        content: ' ';
        background-image: url('/assets/images/check-circle.svg');
        background-size: 12px 12px;
        height: 12px;
        width: 12px;
        margin-right: 5px;
    }
  }

  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: 1px solid $border-color;
    color: $color-black;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      right: 10px;
      top: 20px;
      display: inline-block;
      content: ' ';
      background-image: url('/assets/images/angle-up-grey.svg');
      background-size: 12px 12px;
      height: 12px;
      width: 12px;
      margin-right: 5px;
    }
  }

  .prod-container  {
    font-size: 16px;
    border: 1px solid $border-color;
    color: $color-black;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      right: 10px;
      top: 20px;
      display: inline-block;
      content: ' ';
      background-image: url('/assets/images/angle-up-grey.svg');
      background-size: 12px 12px;
      height: 12px;
      width: 12px;
      margin-right: 5px;
    }
  }

  .dropdown {
    width: 100%;
    margin: 20px 0 10px 0;
    position: relative;
    display: inline-block;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid $border-color;
    z-index: 1;

    a {
      color: $color-black;;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  }
}

.angle-up {
  margin-left: 5px;

  &:before {
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/angle-up-grey.svg');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}

.angle-down {
  margin-left: 5px;

  &:before {
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/angle-down-grey.svg');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}

.box {
  border: 1px solid $border-color;
  height: 48px;
  margin-left: 5px;

  &:after {
    display: block;
    content: ' ';
    background: url('/assets/images/heart.svg') no-repeat center;
    background-size: 24px 24px;
    height: 25px;
    width: 25px;
    padding: 10px;
  }
}

.selected-options {
  margin: 40px 0;
}

.favourites {
  height: 50px;
}

.actions {
  border-top: 1px solid $border-color;
}

.options-container {
  background: $color-white;
  display: flex;

  p {
    margin: 0;
  }
}

.dropdown-content {
  z-index: 1;
}
.custom-option-container {
  display: flex;
}

.image,
.swatch {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.prod {
  display: block;
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;

  &:after {
    position: absolute;
    right: 10px;
    top: 20px;
    display: inline-block;
    content: ' ';
    background-image: url('/assets/images/angle-up-grey.svg');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: $border-color;
}

.select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  background: $color-white;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: $border-color;
}

.colour-select-trigger {
  border: 1px solid $border-color;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid $border-color;
  border-top: 0;
  background: $color-white;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 5px 22px 5px 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
  border-top: 1px solid $border-color;

  &:hover {
    cursor: pointer;
    background-color: #b2b2b2;
  }
}

.steelcut {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.custom-options-container {
  display: flex;
}

.product {
  .product-details {
    padding: 0 10px 40px 10px;
  }
}

.cushion {
  padding: 0 10px;
  margin-right: 10px;
  background: #CCC;
}

// Tablet
// ------------------------------------------------

@media (min-width: $breakpoint-tablet) {
  .product {
    display: flex;
    margin-top: 50px;

    .product-image {
      width: 50%;
    }

    .product-details {
      width: 50%;
      padding: 0 40px 40px 40px;
    }
  }
}